<div class="card-list-container">
    <div class="card-container" *ngFor="let item of list" (dblclick)="onDblClick(item)">
        <div class="card" (click)="onClick(item)" [class.selected]="item.id===selectedId">
            <div class="title">
                {{item.id}}
            </div>
            <div class="name">
                {{item.name}}
            </div>
            <div class="description">
                {{item.description}}
            </div>
        </div>
    </div>
</div>
<div class="action">
    <button mat-mini-fab color="accent" class="action-button" (click)="onAdd()" aria-label="add">
        <mat-icon>add</mat-icon>
    </button>
    <button mat-mini-fab color="accent" class="action-button" (click)="onDelete()" aria-label="delete">
        <mat-icon>delete</mat-icon>
    </button>
</div>